.Card{
    background-color: rgb(41, 100, 152);
    border-radius: 15px;
    height: 500px;
    width: 260px;

}
.image{
    margin-top: 8px;
    width: 250px;
    margin-left: 5px;
    border-radius: 15px;
}