*{
    margin: 0;
    padding: 0;
}
.nav{
    padding-left: 10px;
    padding-right: 10px;
    width: 8%;
    height: 50px;
}
.img{
    width: 180px;
    
}
.logo{
    padding-left: 30px;
    padding-top: 20px;
    width: auto;
}
.sec-img{
    width: 100px;
    margin-left: 120px;
    margin-top: 0px;
    padding-top: 0px;
}
.services{
    display: flex;
    padding: 10px;
    list-style: none;
}